@media (min-width: 360px) and (max-width: 640px) {
    #menu {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 75px;
        color: #FFFFFF;
        z-index: 9999;
        display: none;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle {
        border-color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-brand .navbar-brand-android {
        font-size: 1.2em;
        color: #fff;
    }
    .navbar-default .navbar-brand img {
        float: left;
        margin-left: 25px !important;
        width: 100px;
        height: 50px;
        margin-top: -18px;
    }
    /* Hero Section */
    .hero-section h2 {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-style: italic;
        font-size: 1.3em;
    }
    .hero-section h1 {
        margin-top: -155px;
        line-height: 25px;
        font-size: 1.2em;
    }
    .hero-section h1 .typed,
    .primary-text {
        font-size: 1em;
    }
    .hero-section h1 .sub-primary-text {
        font-size: 1.1em;
    }
    .hero-section h1>a {
        margin-top: 10px;
    }
    /* Kategori Section */
    .kategori .kategori-item {
        display: block !important;
        padding: 20px;
    }
}